@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 8% 95%;
    --foreground: 30 8% 5%;
    --card: 40 10% 94%;
    --card-foreground: 30 8% 5%;
    --popover: 40 10% 94%;
    --popover-foreground: 30 8% 5%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 12% 91%;
    --secondary-foreground: 30 8% 5%;
    --muted: 30 8% 91%;
    --muted-foreground: 31 9% 45%;
    --accent: 30 8% 91%;
    --accent-foreground: 30 8% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 90 9% 87%;
    --input: 33 9% 80%;
    --ring: 30 36% 72%;
    --radius: 0.5rem;
    --sidebar-background: 0, 0%, 97%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;
    --card: 30 6% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 30 6% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 100% 100%;
    --primary-foreground: 0 0% 2%;
    --secondary: 30 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 30 5% 22%;
    --muted-foreground: 30 5% 49%;
    --accent: 31 45% 14%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 5% 12%;
    --input: 30 4% 18%;
    --ring: 30 100% 40%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
